<!-- Header -->
<div ng-controller="dashboardCtrl" style="margin-top:-300px">
	<section id="header">
		<div class="container">
			<ul class="icons pull-right" style="padding-right:5px;">
				<li style="cursor:pointer" ><a href="#" ng-click="translate.setLanguage('en')"><img src="images/flags/EN.png"/></a></li>
				<li style="cursor:pointer" ><a href="#" ng-click="translate.setLanguage('fr')"><img src="images/flags/FR.png"/></a></li>
			</ul>
			<hr/>
			<h2>Posts</h2>
			<label>Search post</label>
				<input ng-model="postSearch.msg"/>
			</label>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Creation Date</th>
						<th>Expiration Date</th>
						<th>Snap</th>
						<th>Message</th>
						<th>User Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="post in posts | filter:searchPost.msg">
						<td ng-bind="post.id"></td>
						<td ng-bind="post.createdAt |  date:'dd-MM-yyyy HH:mm'"></td>
						<td ng-bind="post.expires |  date:'d-MM-yyyy HH:mm'"></td>
						<td><img src="post.pic"></img></td>
						<td ng-bind="post.msg"></td>
						<td ng-bind="post.user.name"></td>
					</tr>
				</tbody>
			</table>
			<h2>Users</h2>
			<label>Search user</label>
				<input ng-model="userSearch"/>
			</label>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Creation Date</th>
						<th>Username</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users| filter:userSearch">
						<td ng-bind="user.id"></td>
						<td ng-bind="user.createdAt"></td>
						<td ng-bind="user.name"></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>