<!-- Header -->
<div ng-controller="indexCtrl">
	<section id="header">
		<ul class="icons pull-right" style="padding-right:5px;">
			<li style="cursor:pointer" ><a href="#" ng-click="translate.setLanguage('en')"><img src="images/flags/EN.png"/></a></li>
			<li style="cursor:pointer" ><a href="#" ng-click="translate.setLanguage('fr')"><img src="images/flags/FR.png"/></a></li>
		</ul>
		<header>
			<img src="images/logo3.png" alt="snap around">
			<!-- <h1>{{translate.get('header-title')}}</h1> -->
			<p>{{translate.get('header-description')}}</p>
		</header>
		<!-- <footer>
			<a href="#first" class="button style2 scrolly-middle">{{translate.get('header-button')}}</a>
		</footer> -->
	</section>


	<!-- Feature 1 -->
	<article id="first" class="container box style1 right">
		<a href="#" class="image fit"><img src="images/usecase/festival.png" alt="" /></a>
		<div class="inner">
			<header>
				<h2>{{translate.get('first-feature-title')}}
				</h2>
			</header>
			<p>{{translate.get('first-feature-description')}}</p>
		</div>
	</article>

	<!-- Feature 2 -->
	<article class="container box style1 left">
		<a href="#" class="image fit"><img src="images/map1.jpg" alt="" /></a>
		<div class="inner">
			<header>
				<h2>{{translate.get('second-feature-title')}}
				</h2>
			</header>
			<p>{{translate.get('second-feature-description')}}</p>
		</div>
	</article>

<!-- Feature 3 -->
	<article id="third" class="container box style1 right">
		<a href="#" class="image fit"><img src="images/map2.jpg" alt="" /></a>
		<div class="inner">
			<header>
				<h2>{{translate.get('third-feature-title')}}
				</h2>
			</header>
			<p>{{translate.get('third-feature-description')}}</p>
		</div>
	</article>

	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>{{translate.get('banner-title')}}</h2>
		</header>
		<p>{{translate.get('banner-description')}}</p>
		<footer>
			<a  class="button style2 scrolly">{{translate.get('banner-button')}}</a>
		</footer>
	</section>


	<!-- Usecase 1 -->
	<article id="" class="container box style1 right">
		<a href="#" class="image fit"><img src="images/usecase/bar.png" alt="" /></a>
		<div class="inner">
			<header>
				<h2>{{translate.get('first-usecase-title')}}
				</h2>
			</header>
			<p>{{translate.get('first-usecase-description')}}</p>
		</div>
	</article>

	<!-- Usecase 2 -->
	<article id="" class="container box style1 right">
		<a href="#" class="image fit"><img src="images/usecase/neighborhood.png" alt="" /></a>
		<div class="inner">
			<header>
				<h2>{{translate.get('second-usecase-title')}}
				</h2>
			</header>
			<p>{{translate.get('second-usecase-description')}}</p>
		</div>
	</article>

	<section id="team">
		<div class="inner gallery">
			<div class="row 0%">
				<div class="4u">
					<a href="images/team/kantoine.jpg" class="image fit centered">
						<img src="images/team/kantoine.png" alt="" title="ANTOINE Kevin" />
						<h2>{{translate.get('member1-name')}}</h2>
						<p>{{translate.get('member1-description')}}</p>
					</a>
				</div>
				<div class="4u">
					<a href="images/team/rricard.jpg" class="image fit centered">
						<img src="images/team/rricard.png" alt="" title="ROBIN Ricard" />
						<h2>{{translate.get('member2-name')}}</h2>
						<p>{{translate.get('member2-description')}}</p>
					</a>

				</div>
				<div class="4u">
					<a href="images/team/mkitane.jpg" class="image fit centered">
						<img src="images/team/mkitane.png" alt="" title="KITANE Mehdi" />
						<h2>{{translate.get('member3-name')}}</h2>
						<p>{{translate.get('member3-description')}}</p>
					</a>
				</div>
			</div>
			<div class="row 0%">
				<div class="4u">
					<a href="images/team/bsivanandan.jpg" class="image fit centered">
						<img src="images/team/bsivanandan.png" alt="" title="SIVANANDAN Bruno" />
							<h2>{{translate.get('member4-name')}}</h2>
							<p>{{translate.get('member4-description')}}</p>
					</a>
				</div>
				<div class="4u">
					<a href="images/team/vcomte.jpg" class="image fit centered">
						<img src="images/team/vcomte.png" alt="" title="COMTE Valentin" />
							<h2>{{translate.get('member5-name')}}</h2>
						<p>{{translate.get('member5-description')}}</p>
					</a>
				</div>
				<div class="4u">
					<a href="images/team/kbenhmida.jpg" class="image fit centered">
						<img src="images/team/kbenhmida.png" alt="" title="BENHMIDA Karim" />
						<h2>{{translate.get('member6-name')}}</h2>
						<p>{{translate.get('member6-description')}}</p>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
<section id="footer">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<!-- <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li> -->
		<!-- <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
		<!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
		<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	</ul>
	<div class="copyright">
		<ul class="menu">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
	</section>
</div>